<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="layout2.css" type="text/css">


</head>
<body>

<nav>
    <article class="container">
          <ul>


            <li><a href="index.html">Home</a></li>
            <li><a href="profile.html#all">Profile</a></li>

            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Sign Up</a></li>
            <button class="menu" onclick="myFunction()">Menu</button>

        </ul>
</article>
</nav>


<article class="faux-column">

  <article class="navigation">

        <ul id="menu_nav">

            <li><a href="#raise">Raise</a></li>
            <li><a href="#delete">Delete</a></li>
            <li><a href="#resolved">Resolved</a></li>
            <li><a href="#pending">Pending</a></li>
            <li><a href="#rejected">Rejected</a></li>
            <li><a href="#all">All</a></li>
        </ul>
    </article>

    <article class="space-30"></article>

    <article class="content">
    <article id="raise">
        <article class="flag-container">
            <article class="wrapper">
                <form />
                    <input type = "text" name = "title" placeholder="Title"  required /><br />
                    <select name="bike" style="width:100%;height:40px;background:#B3B6B7;margin:8px 0;">
                        <option value="honda">Raise a Flag </option>
                        <option value="ducati"> Intervension</option>
                    </select>
                    <input type = "text" name = "point" placeholder="Location" required/><br />
                    <textarea cols="40" rows="8" name="Comments" style="width:100%;background:#B3B6B7;margin:8px 0;"> Please describe the incident... </textarea>

                    <button class="green">Submit</button>>
                </form>

            </article>
        </article>
    </article>


    <article id="delete">
        <article class="flag-container">
            <article class="wrapper">
                <form>
                    <select name="bike" style="width:100%;height:40px;background:#B3B6B7;margin:8px 0;">
                        <option value="honda">Delete 1</option>
                        <option value="ducati"> Delete 2</option>
                        <option value="ducati"> Delete 3</option>
                    </select>
                    <textarea cols="40" rows="8" name="Comments" style="width:100%;background:#B3B6B7;margin:8px 0;">Please provide a brief reason </textarea>

                    <button class="red">Delete</button>
                </form>

            </article>
        </article>
    </article>


    <article id="resolved">
        <article class="flag-container">
            <article class="wrapper">
             <h1>Here are all the resolved incidents</h1>
            </article>
        </article>
    </article>

    <article id="pending">
        <article class="flag-container">
            <article class="wrapper">
             <h1>Here are all the pending incidents</h1>
            </article>
        </article>
    </article>


    <article id="rejected">
        <article class="flag-container">
            <article class="wrapper">
             <h1>Here are all the rejected incidents</h1>
            </article>
        </article>
    </article>

    <article id="all">
        <article class="flag-container">
            <article class="wrapper">
             <h1>Here are all the reported incidents</h1>
            </article>
        </article>
    </article>
</article>
</article>


    <footer>
        <article>
            <img src="img/call.png">
            <p>Reach us Via Hotline <span>07000000</span></p>
        </article>
    </footer>
</article>



<script>
    function myFunction() {
    var x = document.getElementById("menu_nav");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
</body>
</html>


