
/*    universal Layout */

body{
    margin:0;
    padding:0;
    line-height: 1.6;
    background:#F2F2F2;
    height:100%;
}



section {
    width:90%;
    margin:0 auto;

}

nav{
    height:20%;
    width:100%;
    background:#76B852;

}


footer{

    width:100%;
    height:10%;
    background:#76B852;
      padding: 10px 0px;

  color: rgba(255, 255, 255, 0.8);

}


.container {
    width:40%;
    margin:0 auto;
    background:#F2F2F2;

}


.container-wrapper {
    width:60%;
    margin:0 auto;

}


.wrapper {
    width:60%;
    margin:0 auto;

}

/* Container */
footer article{
    width:50%;
    margin:0 auto;

}



/* Form decoration*/
input[type=text] {
    width:100%;
    height:40px;
    background:#B3B6B7;
    margin:8px 0;

}

input[type=password] {
    width:100%;
    height:40px;
    background:#B3B6B7;
    margin:8px 0;

}

input[type=submit] {
    width:49%;
    height:40px;
    background:#4CAF50;
    padding:6px 10px;
    margin:8px 0;

}

input[type=reset]{
    width:49%;
    height:40px;
    background:#4CAF50;
    padding:6px 10px;
    margin:8px 0;

}


/* Page spages*/

.space-100 {
    height:100px;

}

.space-30 {
    height:30px;

}

.space-50 {
    height:50px;

}
/*  Navigation  */
ul{
    list-style-type: none;
    margin:0;
    padding:0;

}

nav li{
    display: inline-block;
}
/*  LINKS   */

li a{
    display:block;
    color:white;
    text-align: center;
    padding:16px;
    text-decoration: none;
}


/* IMAGE */
footer img{
    width:36px;
    height:36px;
    float:left;
}
