<!DOCTYPE html>
<html>
<head>
    <title>IReporter</title>
      <link rel="stylesheet" href=" {{ url_for('static', filename='layout.css', _external=True) }} " media="screen">
      <link rel="icon" href="{{ url_for('static', filename = 'img/flag.png') }}">
</head>
<body>


    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('admin') }}">admin</a></li>

            {% if users == [] %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Sign Up</a></li>

            {% else %}
                <li><a href="#">Logout</a></li>
                {% for val in users %}
                    {{ val }}

                {% endfor %}

            {% endif %}
        </ul>

    </nav>



        <article class="navigation">

        <ul>

            <li><a href="#raise">Raise</a></li>
            <li><a href="#delete">Delete</a></li>
            <li><a href="#resolved">Resolved</a></li>
            <li><a href="#pending">Pending</a></li>
            <li><a href="#rejected">Rejected</a></li>
            <li><a href="#all">All</a></li>
        </ul>
        </article>
        <article class="space-30"></article>

    <article id="raise">
        <article class="flag-container">
            <article class="wrapper">
                <form action="{{ url_for('admin') }}" method="post"/>
                    <input type = "text" name = "title" placeholder="Title" required /><br />
                    <select name="type" style="width:100%;height:40px;background:#B3B6B7;margin:8px 0;">
                        <option value="flag">Raise a Flag </option>
                        <option value="action"> Intervension</option>
                    </select>
                    <input type = "text" name = "location" placeholder="Location" required/><br />
                    <textarea cols="40" rows="8" name="comment"  placeholder="Please describe the incident..." style="width:100%;background:#B3B6B7;margin:8px 0;"></textarea>

                    <input type="submit" value="Submit"/>
                </form>


            </article>
        </article>
    </article>


    <article id="delete">
        <article class="flag-container">
            <article class="wrapper">
                <form>
                    <select name="bike" style="width:100%;height:40px;background:#B3B6B7;margin:8px 0;">
                        <option value="honda">Delete 1</option>
                        <option value="ducati"> Delete 2</option>
                        <option value="ducati"> Delete 3</option>
                    </select>
                    <textarea cols="40" rows="8" name="Comments" style="width:100%;background:#B3B6B7;margin:8px 0;">Please provide a brief reason </textarea>

                    <button class="red">Delete</button>
                </form>

            </article>
        </article>
    </article>


    <article id="resolved">
        <article class="flag-container">
            <article class="wrapper">
             <h1>Here are all the resolved incidents</h1>
            </article>
        </article>
    </article>

    <article id="pending">
        <article class="flag-container">
            <article class="wrapper">
             <h1>Here are all the pending incidents</h1>
            </article>
        </article>
    </article>


    <article id="rejected">
        <article class="flag-container">
            <article class="wrapper">
             <h1>Here are all the rejected incidents</h1>
            </article>
        </article>
    </article>

    <article id="all">
        <article class="flag-container">
            <article class="wrapper">


               {% if title != [] %}
            <li><a href="#">Logout</a></li>
            {% for val in title %}
             {{ val }}
            {% endfor %}


            {% else %}
<h1>Here are all the reported incidents</h1>
            {% endif %}


            </article>
        </article>
    </article>


</article>



    <footer>
        <article>
            <img src="{{ url_for('static', filename='img/call.png') }}">
            <p>Reach us Via Hotline <span>07000000</span></p>
        </article>
    </footer>

</body>
</html>
